@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);

  background-color: #fcfcfc;
  background-image: repeating-linear-gradient(
      45deg,
      #ffffff 25%,
      transparent 25%,
      transparent 75%,
      #ffffff 75%,
      #ffffff
    ),
    repeating-linear-gradient(
      45deg,
      #ffffff 25%,
      #fcfcfc 25%,
      #fcfcfc 75%,
      #ffffff 75%,
      #ffffff
    );
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  font-family: "Manrope", Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #364bfe;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d3bb9;
}
